<div class="page-header">
  <%= link_to new_invite_path, :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    New Invite
  <% end %>
  <h1>Listing invites</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @invites.each do |invite| %>
    <tr>
      <td><%= link_to 'Show', invite %></td>
      <td><%= link_to 'Edit', edit_invite_path(invite) %></td>
      <td><%= link_to 'Destroy', invite, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
<% end %>
  </tbody>
</table>
