<footer>
  <div class="align-center">
    <ul class="inline">
      <li><a href="#">About Us</a></li>
      <li><a href="#">Browse Jobs</a></li>
      <li class="hidden-phone"><a href="#">Privacy Policy</a></li>
      <li class="hidden-phone"><a href="#">Terms</a></li>
      <li><a href="#">Contact Us</a></li>
      <li class="hidden-phone"><a href="#">Post a free job ad</a></li>
      <li class="hidden-phone"><a href="#">Employee &amp; Recruiter Solutions</a></li>
    </ul>
  </div>
</footer>