<div class="container">
  <div class="page-header">
    <%= link_to admin_referral_sites_path, :class => 'btn' do %>
      <i class="icon-list-alt"></i>
      Back
    <% end %>
    <h1>New Referral Site</h1>
  </div>

  <%= render 'form' %>
</div>
