<div class="search-box">
	<h3>Refine your Search Results</h3>
	<form>
	<label>What do you want to be?</label>
	<input type="text" />
	<label>Where?</label>
	<input type="text" />
	<label>Date posted</label>
	<input type="text" />
	<label>What type of commitment</label>
	<div class="radio-container">
		<input type="radio" />&nbsp;&nbsp;&nbsp;Full-time <input type="radio" />&nbsp;&nbsp;&nbsp;Casual <br>
		<input type="radio" />&nbsp;&nbsp;&nbsp;Part-time <input type="radio" />&nbsp;&nbsp;&nbsp;Contract
	</div>
	<br>
	<input type="submit" class="btn btn-primary btn-large" value="Search" />
	</form>
</div>