<div class="search-box">
		<h4 class="sidebar-title">Refine your Search Results</h4>
	<%= form_tag "/jobs/search", method: :get do %>
		<label class="brand-dark-blue-accent">What do you want to be?</label>
		<%= text_field_tag :job_title, params[:job_title], placeholder: 'Job Title' %>
		<label class="brand-dark-blue-accent">Where?</label>
		<%= text_field_tag :address, params[:address], placeholder: 'City or State' %>
		<label class="brand-dark-blue-accent">Date posted</label>
		<input type="text" />
		<div class="hidden">
			<label class="brand-dark-blue-accent">What type of commitment</label>
			<div class="radio-container">
				<input type="radio" />&nbsp;&nbsp;&nbsp;Full-time <input type="radio" />&nbsp;&nbsp;&nbsp;Casual <br>
				<input type="radio" />&nbsp;&nbsp;&nbsp;Part-time <input type="radio" />&nbsp;&nbsp;&nbsp;Contract
			</div>
			<br>
		</div>
		<%= submit_tag "Search", class: 'btn btn-primary btn-large' %>
	<% end %>
</div>

<div class="recent-searches">
	<p><span class="sidebar-title">Recent Searches</span><span class="set-alert pull-right">Set Alert </span></p>
	<ul class="recent-list">
		<li><a href="#"><span class="recent-role">Account Director</span> at <span class="blue-accent">ABC Engineering</span></a></li>
		<li><a href="#"><span class="recent-role">Recruitment Consultant - Account Management/Temporary Desk </span> at <span class="blue-accent">Quay Appointments</span></a></li>
	</ul>
</div>

<div class="favourite-roles">
	<p><span class="sidebar-title">Favourited Jobs</span></p>
	<ul class="recent-list">
		<li><a href="#"><span class="recent-role">Account Director</span> at <span class="blue-accent">ABC Engineering</span></a></li>
		<li><a href="#"><span class="recent-role">Recruitment Consultant - Account Management/Temporary Desk </span> at <span class="blue-accent">Quay Appointments</span></a></li>
	</ul>
</div>