<div class="container">
<div class="page-header">
  <%= link_to admin_jobs_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <h1>Post a New Job</h1>
</div>

<%= render 'form' %>
</div>
