<% title "Accelerating Recruitment for Skilled Trades." %>
<div class="content-featured">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Job Matchmaking <br>For Skilled Trades.</h1>
        <h3>Get 1-5 job offers per week from <br>the largest employers in Australia.</h3>
        <a href="<%= new_user_registration_path %>" class="btn btn-apply-now">APPLY NOW</a>
        <ul class="homepage-job-titles">
          <li>TRUCK DRIVERS</li>
          <li>LABOURERS</li>
          <li>FORKLIFT DRIVERS</li>
          <li>AND MANY MORE</li>
        </ul>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>
<div class="content-blue-bg">
  <div class="container">
    <div class="col-md-3 benefit-content">
      <h3>Community</h3>
      <p>We only focus on matching sklled trades and technical job seekers with employers.</p>
    </div>
    <div class="col-md-3 benefit-content">
      <h3>Get the right job</h3>
      <p>The perfect job isn't about a paycheck. We help you find the right job that suits you.</p>
    </div>
    <div class="col-md-3 benefit-content">
      <h3>Salary upfront</h3>
      <p>Save time by knowing your future salary and overtime before you interview.</p>
    </div>
    <div class="col-md-3 benefit-content">
      <h3>Privacy</h3>
      <p>Your profile is not visible to the public or your current employer.</p>
    </div>
  </div>
</div>
<div class="content">
  <div class="container">
    <h2>How it works</h2>
    <h3>Step 1 - Create your skilled trade profile.</h3>
    <div class="profile-screen-container">
      <div class="row">
        <div class="col-md-2">
          <div class="profile-description-left desc-1">
            <strong>A profile page</strong> that tells your story.
          </div>
          <div class="profile-description-left desc-2">
            <strong>Organise</strong> your work experience and skills in a very readable manner.
          </div>
        </div>
        <div class="col-md-8">
          <%= image_tag "profile-screen.png" %>
          <p>Your profile is always hidden from current & past employers</p>
        </div>
        <div class="col-md-2">
          <div class="profile-description-right desc-3">
            <strong>One-click to export</strong> your profile into a word document for your offline use.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-blue-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-3 benefit-content">
        <h3>Step 1 - Create Profile</h3>
        <p>Create and complete your skilled trade profile to be discovered by employers.</p>
      </div>
      <div class="col-md-3 benefit-content">
        <h3>Step 2 - Get Offers</h3>
        <p>Receive offers with info about the salary package, overtime pay and more.</p>
      </div>
      <div class="col-md-3 benefit-content">
        <h3>Step 3 - Interview</h3>
        <p>Choose which employers you want to interview with.</p>
      </div>
      <div class="col-md-3 benefit-content">
        <h3>Find your new job</h3>
        <p>Accept a job offer and start the next phase of your exciting career!</p>
      </div>
    </div>
    <div class="row steps-content">
      <div class="col-md-3">
        <span class="steps-apply">APPLY</span>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <span class="steps-recruited">RECRUITED</span>
      </div>
    </div>
  </div>
</div>
<div class="content padding-lg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="jumbo">Create your profile now and <br>start getting job offers.</h2>
      </div>
      <div class="col-md-3">
        <a href="<%= new_user_registration_path %>" class="btn btn-apply-now large">APPLY NOW</a>
      </div>
    </div>
  </div>
</div>