<div class="container">
	<div class="stylesheet-modal-container">
		<div class="modal modal-signup">
			<%= simple_form_for :user do |f| %>
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    <h3>Create your profile</h3>
			  </div>
			  <div class="modal-body">
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		    	<%= f.input :email, label: 'Whats your email?', placeholder: 'john@domain.com' %>
		    	<%= f.input :password, label: 'Create Password' %>
			  </div>
			  <div class="modal-footer">
			    <%= f.submit "Create Profile", class: "btn btn-primary btn-apply-job" %>
			  </div>
		  <% end %>
		</div>
	</div>
</div>