<% title "Stylesheet" %>
<h1>Stylesheet</h1>
<br>
<section id="typography">
	<h4>Typography</h4>
	<hr>
	<h1>h1. Heading 1</h1>
	<h2>h2. Heading 2</h2>
	<h3>h3. Heading 3</h3>
	<h4>h4. Heading 4</h4>
	<h5>h5. Heading 5</h5>
	<h6>h6. Heading 6</h6>
	<p>p. Paragraph lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat.</p>
</section>
<br>

<section id="buttons">
	<h4>Buttons</h4>
	<hr>
	<div class="row">
		<div class="span3">
			<p>
			  <button class="btn btn-large btn-primary" type="button">btn btn-large btn-primary</button>
			</p>
			<p>
			  <button class="btn btn-primary" type="button">btn btn-primary</button>
			</p>
			<p>
			  <button class="btn btn-small btn-primary" type="button">btn btn-small btn-primary</button>
			</p>
			<p>
			  <button class="btn btn-mini btn-primary" type="button">btn btn-mini btn-primary</button>
			</p>
		</div>
		<div class="span3">
			<p>
			  <button class="btn btn-large btn-secondary" type="button">btn btn-large btn-secondary</button>
			</p>
			<p>
			  <button class="btn btn-secondary" type="button">btn btn-secondary</button>
			</p>
			<p>
			  <button class="btn btn-small btn-secondary" type="button">btn btn-small btn-secondary</button>
			</p>
			<p>
			  <button class="btn btn-mini btn-secondary" type="button">btn btn-mini btn-secondary</button>
			</p>
		</div>
		<div class="span3">
			<p>
			  <button class="btn btn-large btn-success" type="button">btn btn-large btn-success</button>
			</p>
			<p>
			  <button class="btn btn-success" type="button">btn btn-success</button>
			</p>
			<p>
			  <button class="btn btn-small btn-success" type="button">btn btn-small btn-success</button>
			</p>
			<p>
			  <button class="btn btn-mini btn-success" type="button">btn btn-mini btn-success</button>
			</p>
		</div>
		<div class="span3">
			<p>
			  <button class="btn btn-large btn-danger" type="button">btn btn-large btn-danger</button>
			</p>
			<p>
			  <button class="btn btn-danger" type="button">btn btn-danger</button>
			</p>
			<p>
			  <button class="btn btn-small btn-danger" type="button">btn btn-small btn-danger</button>
			</p>
			<p>
			  <button class="btn btn-mini btn-danger" type="button">btn btn-mini btn-danger</button>
			</p>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="span3">
			<p>
			  <button class="btn btn-large btn-info" type="button">btn btn-large btn-info</button>
			</p>
			<p>
			  <button class="btn btn-info" type="button">btn btn-info</button>
			</p>
			<p>
			  <button class="btn btn-small btn-info" type="button">btn btn-small btn-info</button>
			</p>
			<p>
			  <button class="btn btn-mini btn-info" type="button">btn btn-mini btn-info</button>
			</p>
		</div>
		<div class="span3">
			<p>
			  <button class="btn btn-large btn-warning" type="button">btn btn-large btn-warning</button>
			</p>
			<p>
			  <button class="btn btn-warning" type="button">btn btn-warning</button>
			</p>
			<p>
			  <button class="btn btn-small btn-warning" type="button">btn btn-small btn-warning</button>
			</p>
			<p>
			  <button class="btn btn-mini btn-warning" type="button">btn btn-mini btn-warning</button>
			</p>
		</div>
		<div class="span3">
			<p>
			  <button class="btn btn-large btn-inverse" type="button">btn btn-large btn-inverse</button>
			</p>
			<p>
			  <button class="btn btn-inverse" type="button">btn btn-inverse</button>
			</p>
			<p>
			  <button class="btn btn-small btn-inverse" type="button">btn btn-small btn-inverse</button>
			</p>
			<p>
			  <button class="btn btn-mini btn-inverse" type="button">btn btn-mini btn-inverse</button>
			</p>
		</div>
		<div class="span3">
			<p>
			  <button class="btn btn-large btn-link" type="button">btn btn-large btn-link</button>
			</p>
			<p>
			  <button class="btn btn-link" type="button">btn btn-link</button>
			</p>
			<p>
			  <button class="btn btn-small btn-link" type="button">btn btn-small btn-link</button>
			</p>
			<p>
			  <button class="btn btn-mini btn-link" type="button">btn btn-mini btn-link</button>
			</p>
		</div>
	</div>
</section>
<br>

<section id="block-buttons">
	<h4>Block Buttons</h4>
	<hr>
	<div class="row">
		<div class="span12">
			<button class="btn btn-large btn-block btn-primary" type="button">Block level button</button>
			<button class="btn btn-large btn-block btn-secondary" type="button">Block level button</button>
		</div>
	</div>
	<br>
	<h4>Icon Buttons</h4>
	<hr>
	<div class="row">
		<div class="span3">
			<h4>Button Toolbar</h4>
			<div class="btn-toolbar">
			  <div class="btn-group">
			    <a class="btn" href="#"><i class="icon-align-left"></i></a>
			    <a class="btn" href="#"><i class="icon-align-center"></i></a>
			    <a class="btn" href="#"><i class="icon-align-right"></i></a>
			    <a class="btn" href="#"><i class="icon-align-justify"></i></a>
			  </div>
			</div>
		</div>
		<div class="span3">
			<h4>Button Group</h4>
			<div class="btn-group">
			  <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> User</a>
			  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
			  <ul class="dropdown-menu">
			    <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
			    <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
			    <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
			    <li class="divider"></li>
			    <li><a href="#"><i class="i"></i> Make admin</a></li>
			  </ul>
			</div>
		</div>
		<div class="span3">
			<h4>Navigation</h4>
			<ul class="nav nav-list">
			  <li class="active"><a href="#"><i class="icon-home icon-white"></i> Home</a></li>
			  <li><a href="#"><i class="icon-book"></i> Library</a></li>
			  <li><a href="#"><i class="icon-pencil"></i> Applications</a></li>
			  <li><a href="#"><i class="i"></i> Misc</a></li>
			</ul>
		</div>
		<div class="span3">
			<h4>Form Fields</h4>
			<div class="control-group">
			  <label class="control-label" for="inputIcon">Email address</label>
			  <div class="controls">
			    <div class="input-prepend">
			      <span class="add-on"><i class="icon-envelope"></i></span>
			      <input class="span2" id="inputIcon" type="text">
			    </div>
			  </div>
			</div>
		</div>
	</div>
</section>
<br>

<section id="forms">
	<h4>Forms</h4>
	<hr>
	<div class="row">
		<div class="span6">
			<h4>Default Layout</h4>
			<form>
			  <fieldset>
			    <legend>Legend</legend>
			    <label>Label name</label>
			    <input type="text" placeholder="Type something…">
			    <span class="help-block">Example block-level help text here.</span>
			    <label class="checkbox">
			      <input type="checkbox"> Check me out
			    </label>
			    <button type="submit" class="btn">Submit</button>
			  </fieldset>
			</form>
		</div>
		<div class="span6">
			<h4>Horizontal Style</h4>
			<form class="form-horizontal">
			  <div class="control-group">
			    <label class="control-label" for="inputEmail">Email</label>
			    <div class="controls">
			      <input type="text" id="inputEmail" placeholder="Email">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="inputPassword">Password</label>
			    <div class="controls">
			      <input type="password" id="inputPassword" placeholder="Password">
			    </div>
			  </div>
			  <div class="control-group">
			    <div class="controls">
			      <label class="checkbox">
			        <input type="checkbox"> Remember me
			      </label>
			      <button type="submit" class="btn">Sign in</button>
			    </div>
			  </div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<h4>Optional Styles</h4>
			<form class="form-search">
			  <input type="text" class="input-medium search-query">
			  <button type="submit" class="btn">Search</button>
			</form>
		</div>
		<div class="span6">
			<h4>Inline Style</h4>
			<form class="form-inline">
			  <input type="text" class="input-small" placeholder="Email">
			  <input type="password" class="input-small" placeholder="Password">
			  <label class="checkbox">
			    <input type="checkbox"> Remember me
			  </label>
			  <button type="submit" class="btn">Sign in</button>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<h4>Appended and Prepended input</h4>
			<div class="input-prepend">
			  <span class="add-on">@</span>
			  <input class="span2" id="prependedInput" type="text" placeholder="Username">
			</div>
			<div class="input-append">
			  <input class="span2" id="appendedInput" type="text">
			  <span class="add-on">.00</span>
			</div>
		</div>
		<div class="span6">
			<h4>Buttons instead of text</h4>
			<div class="input-append">
			  <input class="span2" id="appendedInputButton" type="text">
			  <button class="btn" type="button">Go!</button>
			</div>
			<div class="input-append">
			  <input class="span2" id="appendedInputButtons" type="text">
			  <button class="btn" type="button">Search</button>
			  <button class="btn" type="button">Options</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<h4>Button Dropdowns</h4>
			<div class="input-append">
			  <input class="span2" id="appendedDropdownButton" type="text">
			  <div class="btn-group">
			    <button class="btn dropdown-toggle" data-toggle="dropdown">
			      Action
			      <span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu">
			      ...
			    </ul>
			  </div>
			</div>
		</div>
		<div class="span6">
			<div class="form-actions">
			  <button type="submit" class="btn">Save changes</button>
			  <button type="button" class="btn btn-secondary">Cancel</button>
			</div>
		</div>
	</div>
</section>
<br>

<section id="tabs">
	<h4>Tabs & Pills</h4>
	<hr>
	<div class="row">
		<div class="span6">
			<div class="tabbable"> <!-- Only required for left/right tabs -->
			  <ul class="nav nav-tabs">
			    <li class="active"><a href="#tab1" data-toggle="tab">Section 1</a></li>
			    <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
			  </ul>
			  <div class="tab-content">
			    <div class="tab-pane active" id="tab1">
			      <p>I'm in Section 1.</p>
			    </div>
			    <div class="tab-pane" id="tab2">
			      <p>Howdy, I'm in Section 2.</p>
			    </div>
			  </div>
			</div>
		</div>
		<div class="span6">
			<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
			  <ul class="nav nav-tabs">
			    <li class="active"><a href="#tab3" data-toggle="tab">Section 1</a></li>
			    <li><a href="#tab4" data-toggle="tab">Section 2</a></li>
			  </ul>
			  <div class="tab-content">
			    <div class="tab-pane active" id="tab3">
			      <p>I'm in Section 1.</p>
			    </div>
			    <div class="tab-pane" id="tab4">
			      <p>Howdy, I'm in Section 2.</p>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</section>
<br>

<section id="breadcrumbs">
	<h4>Breadcrumbs & Pagination</h4>
	<hr>
	<div class="row">
		<div class="span6">
			<ul class="breadcrumb">
			  <li><a href="#">Home</a> <span class="divider">/</span></li>
			  <li><a href="#">Library</a> <span class="divider">/</span></li>
			  <li class="active">Data</li>
			</ul>
		</div>
		<div class="span6">
			<div class="pagination">
			  <ul>
			    <li><a href="#">Prev</a></li>
			    <li><a href="#">1</a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
			    <li><a href="#">Next</a></li>
			  </ul>
			</div>
		</div>
	</div>
</section>
<br>

<section id="alert">
	<h4>Alerts</h4>
	<hr>
	<div class="row">
		<div class="span12">
			<div class="alert">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <strong>Warning!</strong> Best check yo self, you're not looking too good.
			</div>
			<div class="alert alert-error">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <strong>Warning!</strong> Best check yo self, you're not looking too good.
			</div>
			<div class="alert alert-success">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <strong>Warning!</strong> Best check yo self, you're not looking too good.
			</div>
			<div class="alert alert-info">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <strong>Warning!</strong> Best check yo self, you're not looking too good.
			</div>
		</div>
	</div>
</section>
<br>

<section id="hero">
	<h4>Hero Unit</h4>
	<hr>
	<div class="row">
		<div class="span12">
			<div class="hero-unit">
			  <h1>Heading</h1>
			  <p>Tagline</p>
			  <p>
			    <a class="btn btn-hero btn-large">
			      Learn more
			    </a>
			  </p>
			</div>
		</div>
	</div>
</section>











