<div class="navigation-bar">
  <div class="container">
  	<div class="row-fluid">
      <div class="span3">
        <a href="<%= root_path %>"><%= image_tag "/assets/navbar-logo.png", :class=> "small-logo " %></a>
        <span id="navbar-button" class="navbar-button hidden-desktop hidden-tablet"><i class="icon-reorder"></i></span>
      </div>
  		<div class="span9">
  			<ul class="navbar-links hidden-phone">
  			  <li><a href="<%= new_job_path %>"><span class="blue-accent">Are you an employer? </span> Post a Free ad</a></li>
  			  <li class=""><a href="#">Log In</a></li>
  			</ul>
  		</div>
    </div>
  </div>
</div>
<div class="hidden-desktop hidden-tablet">
    <ul id="navbar-menu" class="navbar-list">
      <a href="#"><li><i class="icon-search"></i>&nbsp;&nbsp;Search Another Job</li></a>
      <a href="#"><li><i class="icon-star"></i>&nbsp;&nbsp;My Favourites</li></a>
      <a href="#"><li><i class="icon-pencil"></i>&nbsp;&nbsp;Post a Free Job Ad</li></a>
    </ul>
</div>