<div class="navigation-bar">
  <div class="container">
  	<div class="row-fluid">
  		<div class="span2">
        <%= image_tag "/assets/navbar-logo.png", :class=> "logo-phone" %>
        <span id="navbar-button" class="navbar-button"><i class="icon-reorder"></i></span>
  		</div>
  		<div class="span9">
  			<ul class="navbar-links hidden-phone">
  			  <li><a href="#"><span class="blue-accent">Are you an employer? </span> Post a Free ad</a></li>
  			  <li><a href="#">Log In</a></li>
  			</ul>
  		</div>
    </div>
  </div>
</div>
<ul id="navbar-menu" class="navbar-menu">
  <a href="#"><li><i class="icon-reorder"></i>Search Another Job</li></a>
  <a href="#"><li>My Favourites</li></a>
  <a href="#"><li>Post a Free Job Ad</li></a>
</ul>