<div class="partial-form-fields">
  <div class="row">
    <div class="col-md-3">
      <%= f.input :experience_company, label: "Company name" %>
    </div>
    <div class="col-md-3">
      <%= f.input :experience_job_title, label: "Job title" %>
    </div>
    <div class="col-md-3">
      <%= f.input :experience_started_at_in_years, label: "Started", collection: Experience::YEARS, input_html: { class: 'select2' } %>
    </div>
    <div class="col-md-3">
      <%= f.input :experience_ended_at_in_years, label: "Ended", collection: Experience::YEARS, input_html: { class: 'select2' } %>
    </div>
  </div>
</div>