<div class="sidebar-panel candidate-shortlist" data-spy="affix">
  <div class="header">
    <i class="icon-ok"></i>
    <span class="header-title">Candidate Shortlist</span>
  </div>
  <ul class="content shortlists">
    <% if !@shortlists.empty? %>
      <% @shortlists.each do |shortlist| %>
        <li id="shortlist-list-<%= shortlist.id %>"><i class="icon-remove-sign shortlist-remove pointer" data-shortlist-id="<%= shortlist.id %>" data-toggle="tooltip" title="remove from shortlist"></i><%= shortlist.candidate.try(:job_title) %></li>
      <% end %>
    <% else %>
      <li>No shortlisted candidates</li>
    <% end %>
    <!--
    <a href="#" class="btn btn-success btn-block"><i class="icon-envelope-alt"></i>&nbsp;&nbsp;&nbsp;Email Shortlists</a>
    -->
  </ul>
  <a href="/candidates/download_shortlisted_csv" id="download-shortlist-btn" class="btn btn-success btn-block <%= 'hide' if @shortlists.empty? %>"><i class="icon-envelope-alt"></i>&nbsp;&nbsp;&nbsp;Export Shortlists</a>
</div>