<div class="sidebar-panel candidate-shortlist" data-spy="affix">
  <div class="header">
    <i class="icon-ok"></i>
    <span class="header-title">Candidate Shortlist</span>
  </div>
  <ul class="content">
    <li><i class="icon-remove-sign"></i>National Account Manager</li>
    <li><i class="icon-remove-sign"></i>OPERATIONS Manager / $90,000 pa / 2 years exp</li>
    <a href="#" class="btn btn-success btn-block"><i class="icon-envelope-alt"></i>&nbsp;&nbsp;&nbsp;Email Candidates</a>
  </ul>
</div>