<div class="page-header">
  <%= link_to admin_bounties_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <%= link_to edit_admin_bounty_path(@admin_bounty), :class => 'btn btn-primary' do %>
    <i class="icon-pencil icon-white"></i>
    Edit
  <% end %>
  <h1>Listing admin_bounties</h1>
</div>

<dl>
</dl>
