<div class="container">
	<div class="page-header">
	  <%= link_to admin_job_categories_path, :class => 'btn' do %>
	    <i class="icon-list-alt"></i>
	    Back
	  <% end %>
	  <h1>New Job Category</h1>
	</div>
	<%= render 'form' %>
</div>
