@import "bootstrap-variables";

.apply-form-container {
	//padding: 40px 0;
}

.apply-send {
	background-color: $white;
	border: 1px solid $goldLight;
	padding: 20px 40px 0 20px ;

	label {
		color: $blueBrandDark;
	}
}

.apply-form {
	background-color: $white;
	padding: 0 0 20px 0;
	h4 {
		color: $blueBrandDark;
	}
	p {
		line-height: 0;
		margin-top: 15px;
		color: $green;;
	}
}

.job_application_cover_letter {
	textarea {
		height: 300px;
	}
}

.job_application_first_name, .job_application_last_name {
	input[type="text"] {
		width: 75%;
	}
}

/* Larger ----------- */
@media screen and (max-width: 1024px) {
}


/* Medium ------------ */
@media screen and (max-width: 768px) {

}

/* Smaller ----------- */
@media screen and (max-width : 650px) {
	.apply-form-container {
		padding-top: 0;
	}
	.apply-send {
		padding-top: 0;
	}
	.apply-form {
		padding-top: 0;
	}
}
