@import "bootstrap-variables";

.candidate-list {
  list-style: none;
  margin: 0;
  li:first-child {
    border-top: 1px solid $grayLighter;
  }
  li:not(:last-child) {
    border-bottom: 1px solid $grayLighter;
  }
  li {
    padding: 25px 0 10px 0;
  }
  h4, p {
    padding: 0 20px;
  }
  h4 {
    @include heading-four;
    font-weight: 600;
    color: $blueBrandDark;
    line-height:20px;
    margin: 0;
  }
  p {
    font-size: $fontSizeSmall;
  }
  .candidate-headshot {
    width: 45px;
  }
  .label {
    background: $grayLighter;
    padding: 5px 8px;
  }
  .status-immediately-available, .visa-valid-work-visa, .visa-australian-resident {
    background: $green;
    color: $white;
  }
  .status-happy-to-talk, .visa-no-work-visa {
    background: $grayLight;
    color: $grayDarker;
  }
  .status-actively-looking {
    background: $yellowLight;
    color: $grayDarker;
  }
  .candidate-info {
    text-align: center;
  }
  .salary-value {
    font-weight: 600;
    font-size: 18px;
  }
  .salary-desc {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    margin-top: -5px;
  }
  .icon-phone, .icon-envelope-alt {
    font-size:16px;
  }
}