@import 'bootstrap-variables';

//site-wide styles
.align-center {
  text-align:center;
}
.align-right {
  text-align:right;
}

h1 {
  font-size: 55px;
  font-weight:600;
}
h2 {
  font-weight: 600;
  font-size: 30px;
}
h2.jumbo {
  font-weight: 600;
  font-size: 50px;
}

.form-control {
  color: $gray-dark;
}

.input-group-addon, input[type=text], input[type=email], input[type=email], input[type=password], input[type=tel], input[type=number], input[type=file], textarea {
  border: 2px solid $gray-light !important;
  box-shadow: none !important;
  &:focus {
    border: 2px solid $green !important;
    transition: border .25s ease-in-out;
    -moz-transition: border .25s ease-in-out;
    -webkit-transition: border .25s ease-in-out;
  }
}

.input-group-addon {
  border-right: none !important;
}

.has-error {
  .input-group-addon, input[type=text], input[type=email], input[type=email], input[type=password], input[type=tel], input[type=number], input[type=file], textarea {
    border: 2px solid $brand-danger !important;
  }
}

.alert {
  color: white;
  margin: 20px 0;
  padding: 8px 12px;
  a {
    color: white;
    text-decoration: underline;
  }
  &.alert-prompt {
    background: $yellow-light;
    color: $yellow-dark;
    a {
      color: $gray-dark;
    }
  }
}

.help-block {
  color: $brand-danger !important;
}

/* @pagination */
.pagination {
  margin: 0;
  font-size: 10px;
}
.pagination ul li {
  padding: 0;
  a {
    padding: 0px 5px;
    border: solid 1px $gray-lighter;
    background: $gray-lighter;
    color: $gray;
  }
  &.active {
    a {
      background: $gray;
      border: 1px solid $gray;
    }
  }
}
/* @end */

