@import 'bootstrap-variables';

footer {
  a {
    color: white;
    &:hover {
      color: $yellow;
      text-decoration: none;
      transition: color .25s ease-in-out;
      -moz-transition: color .25s ease-in-out;
      -webkit-transition: color .25s ease-in-out;
    }
  }
  padding: 20px 0 40px 0;
  .logo-footer {
    width: 100px;
  }
  p {
    color: white;
    color: $blue;
    padding: 10px 0 0 15px;
    display: inline-block;
  }
  background: $blue-dark;
  ul {
    li {
      display: inline;
      list-style: none;
      padding: 0 10px;
    }
  }
}