@import "bootstrap-variables";
@import "mixins";

%section-space {
	padding: 50px 0px;
}

.main-landing {
	background-color: $blueBrandDark;
	@extend %section-space;
}

.main-headline {
	@include heading-one;
	color: $blue;	
}

.main-search {
	background-color: $yellow;
	border: 1px solid $yellowDark;
	padding-top: 26px;

	label {
		color: $blueBrandDark;
		font-weight: 600;
		font-size: $fontSizeLarge;

	}
	input[type="text"] {
		border: 1px solid $yellowDark;
		height: 40px;
	}
}
.btn-main-search {
	margin-top: 30px;
}

.customers, .browse-jobs, .job-ticker, .partner-companies {
	@extend %section-space;

}

.job-ticker h3 {
	@include heading-three;
	color: $grayDarker;
}

.updated-figures {
	border-bottom: 2px dotted $blue;
	font-weight: 500;
}

.browse-jobs {
	padding-top: 0px;
}
.sub-heading {
	font-size: 16px;
	color: $blueBrandDark;
}
.category-list {
	list-style-type: none;

	li {
		margin: 10px 0; 
	}
	li a {
		color: $grayDark;
	}
	a:hover {
		color: $grayDarker;
	}
}

.section-title {
	@include heading-three;
	margin-bottom: 30px;
	color: $blueBrandDark;
}

.bodycopy {
	color: $grayDarker;
}


.talent-hunter {
	background-color: $goldLight;
	
	h3 {
	@include heading-three;
	color: $grayDark;
	}
	.to-linked-me {
		border-bottom: 2px solid $grayLight;
	}	
}

/* Larger ----------- */
@media screen and (max-width: 1024px) {
	
}


/* Medium ------------ */
@media screen and (max-width: 768px) {
	
}

/* Smaller ----------- */
@media screen and (max-width : 650px) {
	body {
		padding: 0;
	}

	input {
		width: 90%;
	}

	.btn-main-search {
		width: 90%;
	}

	.customers, .browse-jobs, .job-ticker, .partner-companies {
		padding: 0px 0px;
	}
}

