@import "bootstrap-variables";
@import "bootstrap/mixins";


%section-space {
	padding: 50px 0px;
}

.main-landing {
	background-color: $blueBrandDark;
	margin-top:0;
}

.main-headline {
	text-align:center;
	color: $blueBrandDark;
	margin-bottom:30px;
	font-size: 40px;
}

.main-search-jobs, .main-search-candidates {
	padding:20px 30px 10px 30px;
	border-radius: 3px;
	border-top-left-radius: 0;

	label {
		color: $blueBrandDark;
		font-weight: 600;
		font-size: 18px;

	}
	input[type="text"] {
		border: 1px solid $yellowDark;
		height: 40px;
		padding-left:10px;
	}
}

.main-search-jobs {
	background-color: $yellow;
}

.main-search-tabs-container {
	.main-search-tab-jobs, .main-search-tab-candidates {
		display: inline-block;
		margin-bottom:0px;
		cursor:pointer;
	}
	.main-search-tab-jobs, .main-search-tab-candidates {
		padding: 12px 20px;
		font-weight: 600;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}
	.main-search-tab-jobs {
		background: $yellow;
		color: $blueBrandDark;
	}
	.main-search-tab-candidates {
		background: $blueBrandLight;
		color: $white;
	}
}

.main-search-candidates {
	background-color: $blueBrandLight;
	h1 { color: white; }
	label { color: white; }
	input[type="text"] {
		border: 0px solid $blueBrandDark;
	}
}
.btn-main-search {
	margin-top: 30px;
	width: 100% !important;
}

.btn-main-search-candidates {
	width: 100% !important;
}

.error-message {
	color: $red; text-align: center;
}
.success-message {
	color: $green; text-align:center;
	margin-bottom: 20px;
}
.customers, .browse-jobs, .partner-companies {
	@extend %section-space;
}

.ticker {
	padding: 20px 0;
}
.ticker h3 {
	font-weight:100;
	font-size: 28px;
	color: white;
}

.updated-figures {
	border-bottom: 2px dashed $blue;
	margin: 0 5px;
}

.browse-jobs {
	padding-top: 0px;
}
.sub-heading {
	font-size: 18px;
	color: $blueBrandDark;
	margin-top: 60px;
}
.category-list {
	list-style-type: none;
	margin: 0;
	li {
		margin: 10px 0;
	}
	li a {
		color: $grayDark;
	}
	a:hover {
		color: $grayDarker;
	}
}

.section-title {
	@include heading-three;
	margin-bottom: 30px;
	color: $blueBrandDark;
}

.bodycopy {
	color: $grayDarker;
}


.talent-hunter {
	background-color: $goldLight;

	h3 {
	@include heading-three;
	color: $grayDark;
	}
	.to-linked-me {
		border-bottom: 2px solid $grayLight;
	}
}

.ui-autocomplete-loading {
    background: white url('/assets/autocomplete-loader.gif') right center no-repeat;
}

.state-location {
    font-size: 14px;
    color: #A5A5A5;
    margin-top: -4px;
}

.basic-site {
	padding: 40px 0;
}

.contact-form-container {
	padding: 40px 0;
}

.contact-description {
	color: $blueBrandDark;
}

.contact-send {
	background-color: $white;
	border: 1px solid $goldLight;
	padding: 20px 40px 0 20px ;

	label {
		color: $blueBrandDark;
	}
}

/* Larger ----------- */
@media screen and (max-width: 1024px) {

}

/* Smaller ----------- */
@media screen and (max-width : 768px) {
	%center-phone {
		text-align: center;
	}

	body {
		padding: 0;
	}

	input {
		width: 90%;
	}

	input[type="submit"] {
		width: 90%;
	}


	.btn-main-search {
		width: 90%;
		margin-top:10px;
	}

	.main-search-tab-jobs, .main-search-tab-candidates {
		font-weight: 600;
		font-size: 12px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}

	.main-headline {
		@include heading-four;
		font-weight: 500;
		line-height: 28px;

	}
	.main-landing {
		padding: 0 10px;
	}

	.browse-jobs{
		padding: 0;
	}

	.customers, .ticker, .partner-companies {
		padding: 0px 15px;
	}

	.customers, .talent-hunter {
		@extend %center-phone;
	}

	.section-title {
		@include heading-four;
		font-weight: 600;
	}

	.customer-avatar, .customer-avatar-two {
		margin-bottom: 20px;
	}

	.customer-avatar-two {
		margin-top: 60px;
	}

	.talent-hunter {
		margin-top: 40px;

		h3 {
		@include heading-four;
		line-height: 28px;
		}
	}

	.contact-indent {
		margin-top: 40px;
	}


	.contact-send {
	padding: 20px 10px 0 10px ;
	text-align: left;
	}

} /* end */

