@import "bootstrap-variables";

.results-main {
	margin-top: 40px;
	hr { margin: 0; padding: 0 }
	form {
		display: inline-block;
	}
}
.results-main ul.result-jobs {
	padding: 0;
}
ul.result-jobs {
}
.result-jobs {
	list-style:none;
	margin: 0;
	a:not(.btn) { color: $green; }
	li {
		padding: 0 0 20px 0;
	}
	li:not(:last-child) {
		border-bottom: 1px solid $gray-lighter;
	}
}
.result-actions {
	margin-top: 30px;
}

.result-sentence {
	font-size: 30px;
	font-weight: 400;
	color: $gray-dark;
	display: inline-block;
}
.result-number {
	color: $green;
}

.result-list {
	padding: 0 20px 0 50px;
}

.role-title {
	font-weight: 600;
	color: $blueDark;
	line-height:20px;
	margin-bottom: 0;
}

.label-full-time {
	background-color: $brand-danger;
	padding: 6px 4px;

}

.job-location {
	font-size: 10px;
}

.job-description {
	font-size: 10px;
	color: $gray-darker;
	line-height: 1.5;
	padding-top:8px;
}

.job-company-logo {
	margin-top:15px;
}
.posted-date {
	color: $green;
	margin-top:-5px;
}

.favourite-job {
    border: 1px solid $brand-danger;
    background-color: $brand-danger;
    color: white;
    i{
      color: white;
    }
}

// .favourite-job:hover {
//     background-color: $brand-danger;
//     color: white;
// }

.hide {
    display: none;
}

.favourite-modal {
    margin: 0px;
}

.remove-favourite-item {
    margin-left: 5px;
    cursor: pointer;
}

.job-info {
	margin: 0 !important;
	p {
		margin: 0;
	}
}

.alert-icon-active {
    color: #468847;
}

.alert-icon-inactive {
    color: #c2c2c2;
}



/* Larger ----------- */
@media screen and (max-width: 1024px) {

}


/* Medium ------------ */
@media screen and (max-width: 768px) {

}

/* Smaller ----------- */
@media screen and (max-width : 650px) {

	input[type="submit"] {
	width: 93%;
	}

	.job-ticker {
		h3 {
			font-size: 20px;
			line-height: 28px;
		}
	}
	.result-sentence {
		font-size: 10px;
		font-weight: 400;
		color: $gray-dark;
	}

	.results-main {
		margin-top: 0;
	}
	.result-list {
		padding: 0 20px;
	}

	.job-info {
		text-align: left;
		padding: 0;
	}

	.posted-date {
		margin-top:-25px;
	}

	.role-title {
		font-weight: 600;
		margin-bottom: 0;
	}

	.job-location {
		font-size: 10px;
		line-height:none;
	}

	.result-actions {
		margin: 10px 0 0 0;
		text-align: left;
	}

	.btn-view-job {
		width: 70%;
	}

	.posted-date {
		padding-top: 20px;
	}

	.add-to-favourite-btn, .add-to-favourite-btn-blocked {
		display: inline;
		float:right;
	}
}
