@import "bootstrap-variables";
@import "mixins";

// Custom css
.navigation-bar { //changed this name as i think its conflicting with some bootstrap class
	background: $blueBrandDark;
	padding: 30px;
	ul.navbar-links {
		width: 100%;
		list-style: none;
		text-align:right;
		li {
			display: inline;
			margin: 0 20px;
		}
	}
}

// mobile-section
.navbar-button {
	color:white;
}

.navbar-menu {
	width:100%;
	margin: 0;
	position:absolute;
	margin-top:-50px;
	display:none;
	z-index: 5;
	li {
		list-style: none;
		text-align:	center;
		background: white;
		padding: 10px 0;
	}
	a:not(:first-child) li {
		border-top: 1px solid #e1e1e1;
	}
}
