@import "bootstrap-variables";
@import "bootstrap/mixins";

// Custom css
.navigation-bar { //changed this name as i think its conflicting with some bootstrap class
	background: $blueBrandDark;
	padding: 30px;
	ul.navbar-links {
		width: 100%;
		list-style: none;
		text-align:right;
		> li {
			display: inline;
			margin: 0 20px;
			> a {
				color: white;
			}
		}
	}
  &.candidates {
    border-bottom: 5px solid $yellow;
  }
  &.jobs {
    border-bottom: 5px solid $blueBrandLight;
  }
}

.navigation-bar ul.navbar-links li ul.dropdown-menu li {
  margin: 0;
}

.btn-group.open .btn.dropdown-toggle {
  background: #23333C;
}
.btn-user {
  background: #23333C;
  &:hover, &:focus {
    background: #23333C;
  }
}

/* Larger ----------- */
@media screen and (max-width: 1024px) {

}


/* Medium ------------ */
@media screen and (max-width: 768px) {

	.navigation-bar {
		height: 50px;
		padding: 10px 0 0 0;
		background-color: $blueBrandDarker;
	}

	.small-logo, .small-logo-home{
		padding: 10px 0 0 0;
	}
	.small-logo-home {
		margin: 0 auto;
	}

	.navbar-button {
		color:$yellow;
		font-size: 26px;
		padding: 10px 10px;
		position: absolute;
		top: 5px;
		right: 10px;
	}

	.navbar-list {
		width:100%;
		margin: 0;
		position:absolute;
		display:none;
		z-index: 5;

		li {
			list-style: none;
			text-align:	center;
			background: $blueBrandDark;
			padding: 15px 0;
		}

		a li {
			border-bottom: 1px solid $blueBrandDarker;
			color: white;
			text-align: left;
			padding-left: 80px;
		}
		a:hover {
			text-decoration: none;
		}
		a:active li {
			background-color: $yellow;
		}
	}
}