@import "bootstrap-variables";


.job-form-container {

	.control-label, .about-listing {
		margin-top: 30px;
		font-weight: 600;
		color: $blueDark;
	}
}

.about-listing {
	color: $gray-darker !important;
}


.preview-sidebar {
	padding: 0 0 0 30px;
}

.create-subheading {
	padding: 10px 0 10px 10px;
	p {
		margin: 0 0;
	}
}

.highlight-indent {
	padding: 20px 20px;
	background: $gray-lighter;
}

.job-form-preview .result-jobs {
	border: 1px solid $brand-danger;
}

.addon-choices {
	background: white;
	a {
		color: $gray-dark;
		&:hover {
		text-decoration: none;
		}
	}


	ul {
		list-style: none;
		margin: 0 0;
		border: 1px solid $gray-lighter;
		border-bottom: 0px;
	}

	li {
		padding: 20px 30px;
		border-bottom: 1px solid $gray-lighter;
		&:hover, &.selected {
			background: $brand-danger;
			border-left: 3px solid $brand-danger;
			color: $gray-darker;
		}
	}

	input {
		margin: 0;
	}

	span {
		margin-left: 10px;
	}
}

.price-dis {
	background: $blueLight;
}

.ad-price {
	font-weight: 600;
	color: $blueDark;
}

.result-jobs {
	padding: 10px 0 0 20px;
	background: white;

}



.page-header-post {
	background: $brand-danger;
	border-bottom: 1px solid $brand-danger;
	padding: 20px 0;
	margin: 0 0 30px 0;
	h1 {
		color: $blueDark;
		font-weight: 600;
		margin: 0 0;
	}
}

.job-type .radio{
	display: inline-block;
	margin-right: 20px;
}

.compose-description {
	height: 300px;
}

.form-actions {
	border-top: 0;
	padding: 0 0;
}

.payable {
	text-align: left;
	padding: 20px 0 0 30px;
	h3 {

		margin-top: 0;
	}
}

.amount-due {
	font-weight: 600;
	color: $blueDark;
	border-bottom: 2px dotted $gray-light;
}



/* Larger ----------- */
@media screen and (max-width: 1024px) {

}


/* Medium ------------ */
@media screen and (max-width: 768px) {

}

/* Smaller ----------- */
@media screen and (max-width : 650px) {
	.page-header-post {
		padding: 10px 0;
		h1 {

		font-weight: 600;
		text-align: center;
		}
	}

	.job-form-container {
		padding: 0 20px;

		p, .control-label {
			text-align: left;
		}
	}

	.preview-sidebar {
		padding: 0 0 0 0;
	}

	.about-listing {
		border-bottom: 1px solid $gray-light;
		padding-bottom: 20px;
	}

	.compose-description {
		width: 90%;
		height: 300px;
	}

	.form-actions {
		padding: 0 30px;
	}

	input[type="submit"] {
		width: 100%;
	}

	.addon-choices {
		li {
		text-align: left;
		}
	}

	.job-form-container {
		margin-top: 0px;
	}

	.result-actions .btn-view-job {
		display: none;
	}

	.payable {
		padding: 20px 0 0 0;
	}

}