@import 'bootstrap-variables';

.content-create-profile {
  padding: 200px 0;
}

.edit-profile {
  hr {
    margin-top: 0;
  }
}

.section {
  padding: 20px 0;
}

.profile-summary {
  height: 200px !important;
}