@import "bootstrap-variables";

.result-jobs {
	list-style:none;
	margin: 0;
	a:not(.btn) { color: $headingsColor; }
}
.result-actions {
	margin-top: 30px;
}

.result-number {
	color: $blue;
}

.search-box {
	background: $blueLight;
	padding:20px;
	input[type="text"] {
		width: 90%;
	}
}
