@import "bootstrap-variables";

.results-main {
	margin-top: 40px;
	hr { margin: 0; padding: 0 }
	form {
		display: inline-block;
	}
}

.search-box {
	background-color: $grayLighter;
	border: 1px solid $goldLight;
	input[type="text"], input[type="submit"] {
		width: 95%;
	}
	h4 {
		padding: 0 20px;
	}
	form {
		padding: 20px 20px;
		background-color: $white;
		margin: 0;
	}
}

.sidebar-title {
		font-size: $fontSizeLarge;
		color: $blueBrandDark;
		font-weight: 500;
}

.recent-searches, .favourite-roles {
	margin: 20px 0;
	border: 1px solid $goldLight;
	font-size: 14px;
	background-color: white;
	p {
		margin: 0;
		padding: 15px 20px;
		background: $grayLighter;
	}
	p.action {
		background: $white;
	}
	ul {
		list-style-type: none;
		margin: 0;
		background-color: $white;
	}

	li {
		padding: 20px;
		border-bottom: 1px solid $goldLight;
	}

	li:first-child {
		border-top: 1px solid $goldLight;
	}

	li a {
		color: $gray;
	}
	.recent-role {
		color: $blueBrandDark;
	}
}
.results-main ul.result-jobs {
	padding: 0;

}
ul.result-jobs {
}
.result-jobs {
	list-style:none;
	margin: 0;
	a:not(.btn) { color: $headingsColor; }
	li {
		padding: 0 0 20px 0;
	}
	li:not(:last-child) {
		border-bottom: 1px solid $grayLighter;
	}
}
.result-actions {
	margin-top: 30px;
}

.result-sentence {
	font-size: $fontSizeLarge;
	font-weight: 400;
	color: $grayDark;
	display: inline-block;
}
.result-number {
	color: $greenDark;
}

.result-list {
	padding-left: 30px;
}

.role-title {
	@include heading-four;
	font-weight: 600;
	color: $blueBrandDark;
	line-height:20px;
	margin-bottom: 0;
}

.label-full-time {
	background-color: $yellowLight;
	padding: 6px 4px;

}

.job-location {
	font-size: $fontSizeSmall;
}

.job-description {
	font-size: $fontSizeSmall;
	color: $grayDarker;
	line-height: 1.5;
	padding-top:8px;
}

.posted-date {
	color: $greenDark;
	font-size: $fontSizeMini;
	margin-top:-5px;
}

.favourite-job {
    border: 1px solid $yellow;
    background-color: $yellowLight;
    color: $white;
    i{
      color: $white;
    }
}

// .favourite-job:hover {
//     background-color: $yellowLight;
//     color: white;
// }

.hide {
    display: none;
}

.favourite-modal {
    margin: 0px;
}

.remove-favourite-item {
    margin-left: 5px;
    cursor: pointer;
}

.job-info {
	margin: 0 !important;
	p {
		margin: 0;
	}
}

.alert-icon-active {
    color: #468847;
}

.alert-icon-inactive {
    color: #c2c2c2;
}



/* Larger ----------- */
@media screen and (max-width: 1024px) {

}


/* Medium ------------ */
@media screen and (max-width: 768px) {

}

/* Smaller ----------- */
@media screen and (max-width : 650px) {

	input[type="submit"] {
	width: 93%;
	}

	.job-ticker {
		h3 {
			font-size: 20px;
			line-height: 28px;
		}
	}
	.result-sentence {
		font-size: $fontSizeSmall;
		font-weight: 400;
		color: $grayDark;
	}

	.results-main {
		margin-top: 0;
	}
	.result-list {
		padding: 0 20px;
	}

	.job-info {
		text-align: left;
		padding: 0;
	}

	.posted-date {
		margin-top:-25px;
	}

	.role-title {
		font-weight: 600;
		margin-bottom: 0;
	}

	.job-location {
		font-size: $fontSizeSmall;
		line-height:none;
	}

	.result-actions {
		margin: 10px 0 0 0;
		text-align: left;
	}

	.btn-view-job {
		width: 70%;
	}

	.posted-date {
		padding-top: 20px;
	}

	.add-to-favourite-btn, .add-to-favourite-btn-blocked {
		display: inline;
		float:right;
	}
}
