@import 'bootstrap-variables';

.search-box {
  form {
    margin: 0;
    label {
      font-size: 14px;
    }
    input[type="text"] {
      width: 170px;
      padding: 0 10px;
      font-size: 14px;
    }
    select {
      width: 195px;
      border: 1px solid #c2c2c2;
      background-color: white;
    }
    input[type="submit"] {
      margin-top:10px;
    }
  }
}

h5.sidebar-title, h5.sidebar-title-small {
  color: $black;
  font-weight: 600;
  border-bottom: 1px solid $grayLighter;
  padding-bottom: 5px;
  font-size: 16px;
}
h5.sidebar-title-small {
  font-size: 14px;
  margin-top:30px;
}

.recent-searches, .favourite-roles {
  background-color: white;
  span.recent-search, span.recent-role {
    font-size: 14px;
    line-height: 1.0;
    display: inline-block;
  }
  span.recent-role {
    margin-bottom: 15px;
  }
  .clear {
    font-size: 12px;
  }
  span.empty {
    color: $grayDark;
    font-size: 14px;
  }
  ul {
    list-style-type: none;
    margin: 0;
  }

}