<div id="qualification-form-fields" class="qualification-form-fields">
  <div class="partial-form-fields">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name, label: "Trade qualification name", input_html: {class: 'qualification_name'} %>
      </div>
      <div class="col-md-3">
        <%= f.input :attained_at_text, label: "Attained at", collection: TradeQualification::YEARS, input_html: {class: 'select2 qualification_select qualification_year'} %>
      </div>
      <div class="col-md-2">
        <%= f.input :_destroy, as: :boolean, label: "(delete from profile)", wrapper_html: {class: "row-delete #{f.object.new_record? ? 'hide' : ''}"} %>
      </div>
    </div>
  </div>
</div>